// Font Family
$font-family: 'Manrope', sans-serif;

// Background & Foreground Colors
$color: #B47AEA;
$bg-color: #0B0B13;
$fg-color: #FFF;

// Container Width
$container-width: 1260px;

// Responsive Breakpoints
$responsive-tablet: 1024px;
$responsive-phablet: 800px;
$responsive-mobile: 600px;